/*===_Blogs_Software_section===*/

@include movement_of_circle;
.blog_card{
    margin-top: 20px;
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 100%;
        margin: auto;
        box-sizing: border-box;
        transition: 0.6s;
        .blog_card_text{
            padding: 20px;
        }
        .btn{
            padding-top: 20px;
            padding-bottom: 20px;
            .btn1{
                margin-top: 10px;
                @include button_style_1;
            }
        }
        .title {
        color: grey;
        font-weight: lighter;
        }
        i{
            color: #5929ba;
        }
    }
    .card:hover{
        transform: translateY(-3%);
    }
    
}